=flex
	display: flex
	flex-direction: column
		
=pos-abs
	content: ""
	left: 0
	position: absolute
	top: 0
	
=font-md
	font-size: 14px
	line-height: 18px
	
=pos-fix
	left: 50%
	position: fixed
	top: 50%
	transform: translate(-50%, -50%)