.btn
	background: $secondary-color
	border: none
	border-radius: 2px
	color: $btn-color
	cursor: pointer
	font: 13px/1.21rem 'Cera-Pro-Medium'
	/* margin: 9.375% 0 23.4375% */
	margin: 4.69vh 0 11.72vh
	min-height: 35px
	text-transform: lowercase
	width: 150px
	
	&:disabled
		background: #dedcdc
		color: #b7b7b7
		
	&:hover
		background: #d7969e
		color: $btn-color
		
	&:focus, &:focus-visible
		outline: 2px solid #898989
		
	&:active
		background: $btn-color
		color: $secondary-color