.btn
	background: $secondary-color
	border: none
	border-radius: 2px
	color: $btn-color
	cursor: pointer
	font: 13px/1.21rem 'Cera-Pro-Medium'
	height: 35px
	margin: 30px 0 75px
	text-transform: lowercase
	width: 150px