extends includes/template.pug

block content-2
	include includes/_offer.pug
	
append config
	- myTitle = "Страница каталога"
	- myDescr = "Virna. Каталог бренда женской одежды"
	- canon = "catalog.html"
	- page = "catalog"