.production
	&_catalog
		padding-top: 30px
	
	&__wrapper
		+flex
		flex-direction: row
		justify-content: space-between
		
	&__conditions
		+flex
		justify-content: space-between
		background: $scope-color
		flex: 0 0 100%
		letter-spacing: .04em
		margin: 23px 0
		padding: 15px
		position: relative
		z-index: 1
		
	&__discount
		+flex
		font: 12px/1.07rem 'Cera-Pro-Medium'
		text-transform: uppercase
		
	&__arrow
		display: block
		margin: 15px 0
		transform: scale(-1, 1)
		
		&:hover
			.production__icon
				background-image: url("../icons/slider/arrow-hover.svg")
			
		&:focus
			outline: 2px solid $secondary-color
			
		&:active
			.production__icon
				background-image: url("../icons/slider/arrow-active.svg")
		
	&__scale
		text-transform: lowercase
		
	&__service
		+flex
		display: none
		list-style: none
		margin: 0
		padding: 0
		
	&__picture
		flex: 1 0 auto
		margin-left: -215px
		z-index: 2