.slider
	&__wrapper
		+flex
		height: calc(100vh - 46px)
		margin-bottom: 40px
		position: relative
		
	&__img
		height: calc(100vh - 46px)
		min-height: inherit
		object-fit: cover
		object-position: top
		padding: 1px
		width: inherit
		
	&__control
		+flex
		+pos-abs
		height: 100%
		padding: 0 20px
		width: 100%
		
	&__title
		font: 40px/3.29rem 'Cera-Pro-Bold'
		margin: calc(20.625vh - 46px) 0 0
		text-transform: uppercase
		
	&__absence
		display: block
		font: 20px/1.71rem 'Cera-Pro-Bold'
		margin-top: 3.125vh
		text-transform: lowercase
		
	&__transition
		+flex
		flex-direction: row
		justify-content: space-between
		width: 130px
		
	&__arrow
		&:nth-of-type(2)
			transform: scale(-1, 1)
			
		&:hover
			.slider__icon
				background-image: url("../icons/slider/arrow-hover.svg")
			
		&:focus
			outline: 2px solid $secondary-color
			
		&:active
			.slider__icon
				background-image: url("../icons/slider/arrow-active.svg")
		
	&__info
		background: $btn-color url("../img/main/notice.jpg") no-repeat 15px center
		box-shadow: 0 9px 10px 0 #ededed
		margin: 13vh 0 0
		padding: 15px 15px 15px 75px
		width: 90%
		
	&__notice
		font: 13px/1.21rem 'Cera-Pro-Bold'
		text-transform: uppercase
		
	&__feature
		+flex
		align-items: flex-end
		flex-direction: row
		font: 11px/1.07rem 'Cera-Pro-Medium'
		text-transform: lowercase
		
	&__mini
		margin-left: auto
		
		&:hover
			.slider__details
				background-image: url("../icons/slider/arrow-notice-hover.svg")
			
		&:focus
			outline: 2px solid $secondary-color
			
		&:active
			.slider__details
				background-image: url("../icons/slider/arrow-notice-active.svg")

.tns-inner
	overflow: hidden
				
.tns-slider
	height: calc(100vh - 46px)
	overflow: hidden
	
.tns-visually-hidden
	display: none