@font-face {
	font-family: 'Cera-Pro-Light';
	src: url('fonts/CeraPro-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Cera-Pro-Regular';
	src: url('fonts/CeraPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Cera-Pro-Medium';
	src: url('fonts/CeraPro-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Cera-Pro-Bold';
	src: url('fonts/CeraPro-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-v15-latin-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}