doctype html
html#js-root(lang="ru", dir="ltr")
	head
		meta(charset="utf-8")
		meta(name="description" content="Virna - бренд украинской одежды с собственным производством")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="msapplication-config", content="browserconfig.xml")
		link(rel="canonical", href="https://giter1990.github.io/public")
		link(rel="icon", href="favicon.png")
		link(rel="apple-touch-icon", href="favicon-ios.svg")
		link(rel="preload", href="fonts/CeraPro-Bold.woff", as="font", type="font/woff", crossorigin)
		link(rel="preload", href="fonts/CeraPro-Light.woff", as="font", type="font/woff", crossorigin)
		link(rel="preload", href="fonts/CeraPro-Medium.woff", as="font", type="font/woff", crossorigin)
		link(rel="preload", href="fonts/CeraPro-Regular.woff", as="font", type="font/woff", crossorigin)
		link(rel="preload", href="fonts/montserrat-v15-latin-regular.woff", as="font", type="font/woff", crossorigin)
		title Virna | Главная
	body#js-bodyDoc
		.container#js-container